@font-face {
    font-family: 'ThaiSansNeue';
    src: url('../fonts/ThaiSansNeue-Regular.ttf');
    src: url('../fonts/ThaiSansNeue-Regular.ttf') format('embedded-opentype'),
         url('../fonts/ThaiSansNeue-Regular.ttf') format('woff'),
         url('../fonts/ThaiSansNeue-Regular.ttf') format('truetype');
}
body{
	background-color: #fff;
	font-family: 'ThaiSansNeue';
	font-size: 24px;
	color:#333;
}
.container{
	max-width: 1100px;
}
.container.content-wrapper{
	min-height: 500px;
	margin-top: 50px;
	font-size: 16px;
}
.container.content-wrapper a, .container.content-wrapper button{
	font-size: 16px;
}
.container.content-wrapper .member-tab li a{
	color: #333!important;
}
.container.content-wrapper .member-tab li a.active{
	color: #333!important;
	background-color: #eee;
	box-sizing: border-box;
}
nav.navbar{
	background-color: #333;
	margin-bottom: 0px;
}
ul.nav li a{
	color: #fff!important;
	font-size: 20px;
}
footer{
	background-color: #333;
	color: #fff;
}

/*************/
input, select, textarea{
	border-radius: 0px!important;
	font-size: 18px!important;
	min-height: 34px!important;
}
input[type="search"]{
	text-align: right;
}
button.btn{
	font-size: 16px!important;
}
button.btn-lg{
	font-size: 20px!important;
}
button.btn-xs{
	font-size: 14px!important;
}
.form-group .input label{
	color: #787878;
	font-size: 18px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/******/
.error-message {
	color:#a94442;
	font-size: 18px;
}
.message.error {
	color:#a94442;
}
div.error input, div.error textarea, div.error select{
	border:solid 1px #a94442;
}

.btn-primary,.btn-primary.active,.btn-primary.disabled,.btn-primary:active,.btn-primary[disabled]{background-color:#3bafda;border-color:#3bafda}
.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{background-color:#4fc1e9;border-color:#4fc1e9}
.btn-info,.btn-info.active,.btn-info.disabled,.btn-info:active,.btn-info[disabled]{background-color:#37bc9b;border-color:#37bc9b}
.btn-info:focus,.btn-info:hover,.open .dropdown-toggle.btn-info{background-color:#48cfad;border-color:#48cfad}
.btn-success,.btn-success.active,.btn-success.disabled,.btn-success:active,.btn-success[disabled]{background-color:#8cc152;border-color:#8cc152}
.btn-success:focus,.btn-success:hover,.open .dropdown-toggle.btn-success{background-color:#a0d468;border-color:#a0d468}
.btn-warning,.btn-warning.active,.btn-warning.disabled,.btn-warning:active,.btn-warning[disabled]{background-color:#f6bb42;border-color:#f6bb42}
.btn-warning:focus,.btn-warning:hover,.open .dropdown-toggle.btn-warning{background-color:#ffce54;border-color:#ffce54}
.btn-danger,.btn-danger .open .dropdown-toggle.btn,.btn-danger.active,.btn-danger.disabled,.btn-danger:active,.btn-danger[disabled]{background-color:#da4453;border-color:#da4453}
.btn-danger:focus,.btn-danger:hover,.open .dropdown-toggle.btn-danger{background-color:#ed5565;border-color:#ed5565}
.btn-group.open .dropdown-toggle{-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.125);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.125);box-shadow:inset 0 1px 2px rgba(0,0,0,.125)}.btn-group .btn{border-left-color:#96a0ad}.btn-group .btn-default.active,.btn-group .btn-default:active,.btn-group .btn-default:focus,.btn-group.open .btn-default.dropdown-toggle{color:#fff}.btn-group .btn-primary,.btn-group .btn-primary.active,.btn-group .btn-primary:active,.btn-group .btn-primary:focus{border-left-color:#269ecb}.btn-group .btn-success,.btn-group .btn-success.active,.btn-group .btn-success:active,.btn-group .btn-success:focus{border-left-color:#7ab03f}.btn-group .btn-warning,.btn-group .btn-warning.active,.btn-group .btn-warning:active,.btn-group .btn-warning:focus{border-left-color:#efa50b}.btn-group .btn-danger,.btn-group .btn-danger.active,.btn-group .btn-danger:active,.btn-group .btn-danger:focus{border-left-color:#d1293a}.btn-group .btn-info,.btn-group .btn-info.active,.btn-group .btn-info:active,.btn-group .btn-info:focus{border-left-color:#2fa084}.btn-group .btn-danger:first-child,.btn-group .btn-info:first-child,.btn-group .btn-primary:first-child,.btn-group .btn-success:first-child,.btn-group .btn-warning:first-child,.btn-group .btn:first-child{border-left-color:transparent}.btn-group-vertical .btn,.btn-group-vertical .btn-group .btn-primary{border-top-color:#96a0ad!important}.btn-group-vertical .btn-group .btn-primary,.btn-group-vertical .btn-primary,.btn-group-vertical .btn-primary.active,.btn-group-vertical .btn-primary:active,.btn-group-vertical .btn-primary:focus{border-top-color:#269ecb!important}.btn-group-vertical .btn-group .btn-success,.btn-group-vertical .btn-success,.btn-group-vertical .btn-success.active,.btn-group-vertical .btn-success:active,.btn-group-vertical .btn-success:focus{border-top-color:#7ab03f!important}.btn-group-vertical .btn-group .btn-warning,.btn-group-vertical .btn-warning,.btn-group-vertical .btn-warning.active,.btn-group-vertical .btn-warning:active,.btn-group-vertical .btn-warning:focus{border-top-color:#efa50b!important}.btn-group-vertical .btn-danger,.btn-group-vertical .btn-danger.active,.btn-group-vertical .btn-danger:active,.btn-group-vertical .btn-danger:focus,.btn-group-vertical .btn-group .btn-danger{border-top-color:#d1293a!important}.btn-group-vertical .btn-group .btn-info,.btn-group-vertical .btn-info,.btn-group-vertical .btn-info.active,.btn-group-vertical .btn-info:active,.btn-group-vertical .btn-info:focus{border-top-color:#2fa084!important}.btn-group-vertical .btn-danger:first-child,.btn-group-vertical .btn-info:first-child,.btn-group-vertical .btn-primary:first-child,.btn-group-vertical .btn-success:first-child,.btn-group-vertical .btn-warning:first-child,.btn-group-vertical .btn:not(.btn-default):first-child{border-top:none}.badge,.label{background-color:#aab2bd}.badge-default,.label-default{color:#434a54;background-color:#fff;border:1px solid #aab2bd}
.badge-primary,.label-primary{background-color:#3bafda;border-color:#3bafda}
.badge-success,.label-success{background-color:#8cc152;border-color:#8cc152}
.badge-danger,.label-danger{background-color:#da4453;border-color:#da4453}
.badge-warning,.label-warning{background-color:#f6bb42;border-color:#f6bb42}
.badge-info,.label-info{background-color:#37bc9b;border-color:#37bc9b}
